body{
    margin: 20px  150px;
}
h1{
    font-size: 45px;
    font-style: bold;
}

.menu-icon{
   width: 45px;
   height: 25px;
   position: absolute;
   left: 80%;
   top: 8%;
   display: none;
   flex-direction: column;
   justify-content: space-between;
   user-select: none;
}
.menu-icon span{
    width: 80%;
    height: 5px;
    background-color: black;
    border-radius: 12px;
}
.links{
    float: right;
    margin-top: -45px;
    margin-right: 45px;
    display: flex;
    gap: 23px;
}
.links a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
    font-family: sans-serif;
    color: black;
}

.links a:hover{
    color:rgb(248, 125, 125) ;
}
.body{
    display: grid;
    grid-template-areas:
    "image"
    "heading"
    "text"
    "card"
    ;
    gap: 15px;
    grid-template-areas:
    "image image card"
    "heading text card"
    ;
}
img{
    grid-area: image;
    height: 200px;
    width: 100%;
}

.b-text{
    grid-area: heading;
    text-transform: capitalize;
    font-style: bold;
    font-family: 23px;
    font-family:sans-serif;
    line-height: 3px;
    font-stretch: expanded;
}

.text{
    grid-area: text;
}
.text p{
    color: gray;
    font-size: 10px;
    line-height: 15px;
    font-family: sans-serif;
    font-size: 10px;
    word-break: break-all;
}

.text button{
    background-color:rgb(248, 125, 125);
    color: white;
    text-transform: capitalize;
    padding: 10px;
    border: none;
    width: 30%;
    font-size: 9px;
    cursor: pointer;
}
.text button:hover{
    background-color: rgb(6, 6, 8);
}
.card{
    grid-area: card;
    background-color: rgb(6, 6, 8);
    color: whitesmoke;
    padding:4px 25px;
    width: 80%;
}

.card h1{
    color: rgb(207, 145, 29);
    font-family: sans-serif;
    text-transform: capitalize;
}

.card h3{
    text-transform: capitalize;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    line-height: 2px;
}
.card p{
    color: rgb(173, 168, 168);
    font-family: sans-serif;
    font-size: 10px;
}

.card .line{
    border-bottom: 1px solid  rgb(171, 167, 167);
    opacity: 0.3;
}
.tail{
    display: flex;
    gap:-2px;
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 10%;
}
.tail img{
    width: 7%;
    height: 90px;
    position: relative;
    left: -14%;
}
.tail span{
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(128, 126, 126);
    margin-left: -25%;
}

.tail .contents{
    position: relative;
    top: 20px;
    left: -130px;
}
.tail h2{
   font-size: 14px;
   font-weight: 600;
   font-family: sans-serif;
   line-height: 12px;
   text-transform: capitalize;
   cursor: pointer;
}
.tail h2:hover{
    color:rgb(248, 125, 125)
}

.tail p{
    font-family: sans-serif;
    font-size: 10px;
    color: gray;
    margin-top: -5px;
}

@media (min-width:320px) and (max-width:414px){
    body{
        margin: 20px  12px;
    }
    .menu-icon{
        display: flex;
    }
    .links{
        display: flex;
        flex-direction: column;
        gap: 23px;
        position: fixed;
        left: 65%;
        top: 9%;
        background-color: white;
        width: 45%;
        height: 100vh;
        padding: 70px 20px;
        z-index: 1;
        transform: scale(0);
    }
    .body{
        display: grid;
        grid-template-areas:
        "image"
        "heading"
        "text"
        "card"
        ;
        gap: 15px;
        grid-template-areas:
        "image image"
        "heading text card"
        ;
    }
    .text button:hover{
        background-color: none;
    }
    .card h3{
        line-height: 15px;
        font-size: 15px;
    }
    
    .tail{
        flex-direction: column;
        gap: 10px;
        margin-left: 15%;
    }

    .tail img{
        width: 18%;
        margin-left: 0px;
    }

    .tail span{
        margin-left: 10%;
        margin-top: -28%;
    }

    .tail .contents{
        position: relative;
        top: -10px;
        left: 30px;
    }
    .tail h2:hover{
        color: none;
    }
}